tr td:nth-child(1) {
    width: 200px;
    text-align: right;
    font-size: 12px;
}
tr td:nth-child(2) {
    width: 250px;
    max-width: 250px;
}

form{
    position: relative;
    margin-left: 50%;
    -webkit-transform: translate(-50%);
    -moz-transform: translate(-50%);
    -ms-transform: translate(-50%);
    -o-transform: translate(-50%);
    transform: translate(-50%);
}

#bericht{
    width: 100%;
    max-width: 100%;
    min-width: 100%;
}