main{
    min-width: 85%;
}
tr td:nth-child(1) {
    width: 200px;
    text-align: right;
    font-size: 12px;
}
tr td:nth-child(2) {
    width: 250px;
    max-width: 250px;
}
tr td:nth-child(3) {
    width: 500px;
    max-width: 500px;
    min-width: 200px;
}

form{
    position: relative;
    margin-left: 50%;
    -webkit-transform: translate(-50%);
    -moz-transform: translate(-50%);
    -ms-transform: translate(-50%);
    -o-transform: translate(-50%);
    transform: translate(-50%);
}

#bericht{
    width: 100%;
    max-width: 100%;
    min-width: 100%;
}

#requiredMsg{
    max-width: 100%;
}

@media only screen and (max-width: 768px){
    header nav{
        margin-left: 0;
    }
    form {
        margin: 0;
        max-width: 100%;
        text-align: center;
        transform: translate(0);
    }
    
    form td {
        width: 100%;
        display: inline-block;
        text-align: center !important;
    }
    form *{
        max-width: 99%;
        display: inline-block;
    }
}