html, body, footer p{
    padding: 0px;
    margin: 0px;
}
html {
    background-image: url("../images/wallpaper.png");
    -webkit-background-size: 200px; background-size: 200px;
    background-repeat: repeat;

    font-family: Arial;

    scroll-behavior: smooth;

    min-width: 350px;
}
body{
    min-height: 100vh;
}

header img{
    height: calc(100% - 4px);
    border: solid 2px black;

    margin: 0px 10px;
}
header{
    position: fixed;
    top: 0px;

    z-index: 3;

    width: 100%;
    height: 100px;

    /*background-color: #F6C90E; !*Yellow header*!*/
    /*background-color: #F64E8B; !*Pink header*!*/
    background-color: #3A4750; /*Blue/Gray header*/

}
div.banner{
    position: relative;

    background-image: url("../images/banners/banner_2.jpg");
    background-repeat: no-repeat;
    background-size: 100vw;
    background-position: bottom center;
    background-position-Y: 60%;

    margin-top: 100px;

    min-height: 250px;

    overflow: hidden;
}

@media screen and (orientation:portrait) {
    div.banner{
        background-size: auto 100vh;
    }
}
body {

}
main{
    background-color: #BEBEBE;

    width: calc(100% - 200px);
    min-height: calc((100vh - 250px) + 20px); /* (100vh - banner height) + padding top & bottom */
    padding: 10px 5px;

    position: relative;
    -webkit-transform: translate(-50%);
    -moz-transform: translate(-50%);
    -ms-transform: translate(-50%);
    -o-transform: translate(-50%);
    transform: translate(-50%);

    margin: 50px 50%;
}
footer{
    background-color: #3A4750;
    text-align: center;
    color: #F0F0F0;

    bottom: 0px;

    width: calc(100% - 10px);
    padding: 2px 5px;
}

#scroll_up{
    position: fixed;
    bottom: 4%;
    right: 1%;

    width: 50px;
    height: 50px;

    background-color: RGBA(255, 255, 255, 0.5);

    cursor: pointer;
}

