html{
    background-attachment: fixed;
}
div#Overzicht img#scroll_down{
    position: absolute;
    left: 50%;
    bottom: 10px;
    -webkit-transform: translate(0px, -50%);
    -moz-transform: translate(-50%);
    -ms-transform: translate(-50%);
    -o-transform: translate(-50%);
    transform: translate(-50%);
    
    font-size: 30px;
    color: #000;
    text-align: center;
    background-color: RGBA(255, 255, 255, 0.75);

    width: 75px;
    height: 75px;
}
div#Overzicht img#logo{
    position: absolute;
    top: 50%;
    left: 50vw;
    transform: translate(-50%, -50%);

    -webkit-box-shadow: 10px 10px 25px 5px #000;
    -moz-box-shadow: 10px 10px 25px 5px #000;
    box-shadow: 10px 10px 25px 5px #000;

    width: 25vw;
}
div#Overzicht{
    height: 100vh;
    margin-top: 0px;
    background-attachment: fixed;
    background-position-Y: 40%;
}


header{
    position: sticky;
    top: 0px;
}
.filter a:hover{
    font-size: 20px;
    font-weight: bold;

    text-decoration: underline;

    cursor: pointer;


}
.filter a, .filter p{
    padding: 2px 2px;
    margin: 0px;

    position: relative;
    float: left;

    background-color: #BEBEBE;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
.filter{
    position: sticky;
    z-index: 2;
    top: 105px;
    float: right;
}

main h1{
    padding: 0px;
    margin: 0px;
}

body main section:nth-child(odd) h2{
    background-color: #F64E8B;
}
body main section:nth-child(even) h2{
    background-color: #F6C90E;
}
main h2{
    margin: 0px;
    margin-left: -4px;

    font-size: 30px;

    position: sticky;

    z-index: 1;

    top: 100px;
}
main section{
}
section div {
    position: relative;
    float: left;

    padding-left: 15px;

    width:100%;
}
.scrolltoitem{
    position: relative;
    top: -100px;
    visibility: hidden;
}
.item{
    position: relative;
    float: left;

    padding: 5px;
    margin: 10px calc(10% / 3);
    border: solid 1px black;

    width: calc((100% / 3) - (32px * 3));
    min-width: 130px;
}
.item:nth-child(odd){
    background-color: #F6C90E;
}
.item:nth-child(even){
    background-color: #F64E8B;
}
.item img{
    width: 100%;
}
.item table{
    border-collapse: collapse;
    width: 100%;
}
.item p{
    padding: 0px;
    margin: 0px;

    position: relative;
}
.album_title{
    font-size: 30px
}
.album_artist{
    font-size: 15px;
}
.album_year{
    font-size: 20px;
}
.album_rarity{
    position: absolute;
    right: 5px;
    bottom: 0px;

    font-size: 20px;
}
#controls div{
    width: 50px;
    height: 50px;

    cursor: pointer;

    position: relative;
    float: left;
}
#controls{
    position: absolute;
    bottom: 0px;
    left: 50%;
    -webkit-transform: translate(-50%);
    -moz-transform: translate(-50%);
    -ms-transform: translate(-50%);
    -o-transform: translate(-50%);
    transform: translate(-50%);

    width: auto;


    background-color: RGBA(255, 255, 255, 0.5);
}
#pause_bttn{

    background-image: url("");
}
#change_bttn{

    background-image: url("");
}