main {
    min-width: 85%;
}
main p{
    text-align: center;
}
#checkRarity{
    display: block;
    float: left;
}
#rarity{
    float: right;
    text-align: center;
}
#rarity h2, #rarity p{
    margin: 0;
}
#rarity p{
    font-weight: 600;
}
#rarity p a{
    color: black;
}
#container{
    display: block;
    width: 35%;
    margin: 0 auto;
}
.spacer{
    width: 100vw;
    display: inline-block;
}
form#sellContact{
    margin: 0 auto;
    max-width: 50%;
}
#sellForm{
    display: none;
}
@media only screen and (max-width: 768px){
    header nav{
        margin-left: 0;
    }
    #rarity{
        float: unset;
        margin-top: 20px;
    }
    #checkRarity{
        float: unset;
        white-space: nowrap;
    }
    #container{
        width: 100%;
        text-align: center;
    }
    form#checkRarity input {
        margin-top: 5px;
    }

    form#sellContact {
        margin: 0;
        max-width: 100%;
        text-align: center;
    }
    
    form#sellContact td {
        width: 100%;
        display: inline-block;
    }
    form#sellContact *{
        max-width: 99%;
        display: inline-block;
    }
}